@charset "UTF-8";
/*
 * Color scheme
 *
 *  #e6e2af
 *
 */

$color-light: #efecca;
$color-sand: #e6e2af;
$color-beige: #A7A37E;
$color-aqua: #046480;
$color-dark: #002f2f;

$color-pri-1: #046580;
$color-pri-2: #1A5160;
$color-pri-3: #014153;
$color-pri-4: #34A1C0;
$color-pri-5: #59A9C0;

$color-sec-a1: #CE9000;
$color-sec-a2: #9A7827;
$color-sec-a3: #865E00;
$color-sec-a4: #E6B33A;
$color-sec-a5: #E6C068;

$color-sec-b1: #CE1C00;
$color-sec-b2: #9A3627;
$color-sec-b3: #861200;
$color-sec-b4: #E6513A;
$color-sec-b5: #E67968;

$color-neutral1: #fcfff5;
$color-neutral2: #d1dbbd;
$color-neutral3: #91aa9d;
$color-neutral4: #3e606f;
$color-neutral5: #193441;

$button-height: 44px;
$fontsize:      17px;

$standard-font: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$thin-font:     'HelveticaNeue-UltraLight', 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
$accent-font:   'Oleo Script Swash Caps';

@mixin image-diamonds($basecolor) {
    background-color: $basecolor;
    background-image: -webkit-repeating-linear-gradient(-30deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-repeating-linear-gradient(30deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-linear-gradient(30deg, rgba(255, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -webkit-linear-gradient(-30deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size:  70px 120px;
}

@mixin standard-button($bgcolor, $textcolor) {
    -webkit-appearance: none;
    width:              100%;
    height:             $button-height;
    font-size:          $fontsize;
    color:              $textcolor;
    border-radius:      8px;
    border:             none;
    background-color:   $bgcolor;
    background-image: -webkit-linear-gradient(
                        top,
                        lighten($bgcolor, 12%) 0%,
                        $bgcolor 40%,
                        $bgcolor 60%,
                        desaturate(darken($bgcolor, 20%), 20%) 100%
                      );
}

@mixin config-button($left, $top, $width) {
    -webkit-appearance: none;
    position: absolute;
    left:   $left;
    bottom: $left;
    height:        $width;
    width:         $width;
    margin:  0;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url("../res/icon/cog_64.png");
    background-size: $width $width;
    background-repeat: no-repeat;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing:          border-box;
}

body {
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout:    none;
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select:      none;
    background-color:         $color-dark;
    font-family: $standard-font;
    font-size:                17px;
    height:                   100%;
    margin:                   0;
    padding:                  0;
    width:                    100%;
}

/* Portrait layout (default) */
#question-box {
    position:           absolute;
    top:                60px;
    left:               0;
    width:              320px;
    height:             320px;
    padding:            0;
    padding-bottom:     15px;
    z-index:            100;
    font-size:          17px;
    background-color:   #ff9;
    border:             4px solid #fc3;
    border-radius:      6px;
    box-shadow:         2px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 1s ease-in-out;
    -webkit-transform:  translateZ(0);

    ul {
        margin:     0;
        padding:    0;
        list-style: none;
        li {
            border:        1px solid #060;
            text-align:    center;
            padding:       13px;
            margin:        8px 15px;
            font-weight:   bold;
            display:       block;
            border-radius: 6px;
        }
    }
}
.question {
    background-color: #ffd;
    border:           1px solid #fc3;
    margin:           15px;
    padding:          8px;
    font-size:        17px;
    border-radius:    6px;
    box-shadow:       2px 2px 6px rgba(255, 128, 0, 0.5) inset;
}
.answer {
    background:         -webkit-linear-gradient(top, #2c8c3e 0%, #3dc54b 50%, #33b742 51%, #8adc90 100%);
    text-shadow:        -1px -1px rgba(0, 0, 0, 0.5);
    color:              #fefefe;
    -webkit-transition: color 0.2s ease-in-out;
}

.correct {
    background: #080;
}

.wrong {
    background: #800;
}

.answered {
    background: #888;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}



.notransition {
    -webkit-transition: none !important;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/*
 * A class for common attributes for page cards
 */
.card {
    position:           absolute;
    height:             100%;
    -webkit-transform:  translateZ(0);
    -webkit-transition: left 0.3s ease-out;
}
.main-menu-normal {
    left: 0px;
}
.main-menu-side {
    left: 265px;
}
header {
    position: fixed;
}
footer {
    position: fixed;
    height: 44px;
    width: 100%;
    bottom: 20px;
}
#main-menu {
    position:    absolute;
    left:        0;
    top:         0;
    width:       320px;
    height:      100%;

    @include image-diamonds($color-pri-1);

    box-shadow:  -2px 0 6px rgba(0, 0, 0, 0.33);
    z-index:     100;

    footer {
        background: transparent;
        height:           44px;
        padding:          0;
        width:            100%;
        z-index:          200;

        button {
            @include config-button(6px, 6px, 42px);
        }
    }

    .gametypes {
        position: absolute;
        width: 260px;
        top: 212px;
        left: 30px;
        z-index: 400;
        button {
            font-family: $standard-font;
            margin-bottom: 12px;
            text-shadow: 0 1px 0 white;
            @include standard-button($color-sand, #444);

            strong {
                font-family: $standard-font;
            }
        }
    }
}
.logo {
    position: absolute;
    top: 50px;
    height: 200px;
    width: 320px;
    z-index: 301;
    text-align: center;

    #foreground {
        position: absolute;
        top: 60px;
        left: 36px;
        span {
            display: inline-block;
            z-index: 303;
        }

        .besser {
            font-family: $accent-font;
            font-size: 48px;
            -webkit-text-stroke: 1px white;
            text-shadow: 0 2px 6px black;
            color: $color-sec-b1;
        }
        .quizzer {
            font-family: $thin-font;
            font-size: 40px;
            letter-spacing: 0.06em;
            text-shadow: 2px 2px 4px black,
                         -2px 2px 4px black,
                         2px -2px 4px black,
                         -2px -2px 4px black;
            color: white;
            top: 10px;
        }
    }

    #background {
        z-index: 302;
        $b-left: 86px;
        $q-left: $b-left + 60px;
        span {
            position: absolute;
            display: block;
            font-size: 116px;
            color: rgba(255,255,255, 0.2);
            font-family: $accent-font;
        }
        .b {
            left: $b-left;
        }
        .q {
            top: 30px;
            left: $q-left;
        }
    }
}
.configuration-normal {
    left:  -55px;
    width: 420px;
}
.configuration-side {
    left:  0;
    width: 320px;
}
#configuration {
    position:         absolute;
    top:              0;
    height:           100%;
    background-color: white;
    z-index:          90;

    header {
        padding:          4px 12px;
        background-color: white;
    }
}
h1 {
    font-size:   28px;
    font-weight: normal;
    margin:      0;
    overflow:    visible;
    padding:     0;
    text-align:  center;
}
.facebook-login {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;

    @include image-diamonds($color-pri-1);

    fieldset {
        text-align:   center;
        border-width: 1px 0 0 0;
        border-color: white;

        legend {
            margin:    0 12px 0 12px;
            color:     white;
            font-size: 17px;
        }
    }

    form {
        position: relative;
        top:      80px;

        input {
            width:              90%;
            font-size:          17px;
            height:             37px;
            -webkit-appearance: none;
        }
        input[type="email"] {
            margin:        0;
            border-width:  1px 1px 0 1px;
            border-color:  #ccc;
            border-style:  solid;
            border-radius: 8px 8px 0 0;
        }
        input[type="password"] {
            margin:        0;
            border-width:  1px 1px 1px 1px;
            border-color:  #ccc;
            boarder-style: solid;
            border-radius: 0 0 8px 8px;
        }
        input[type="submit"] {
            margin-top:  12px;
            text-shadow: 0 1px 1px white;
            @include standard-button($color-sand, #333);
        }
    }

    button {
        text-shadow:         0 -1px 1px rgba(0, 0, 0, 0.4);
        @include standard-button($color-beige, white);
        padding-left:        37px;
        background-image:    url("../res/icon/f_logo.png");
        background-repeat:   no-repeat;
        background-size:     37px 37px;
        background-position: -4px 0px;

    }
}
