@charset "UTF-8";
/*
 * Color scheme
 *
 *  #e6e2af
 *
 */

$color-light: #efecca;
$color-sand: #e6e2af;
$color-beige: #A7A37E;
$color-aqua: #046480;
$color-dark: #002f2f;

$color-pri-1: #046580;
$color-pri-2: #1A5160;
$color-pri-3: #014153;
$color-pri-4: #34A1C0;
$color-pri-5: #59A9C0;

$color-sec-a1: #CE9000;
$color-sec-a2: #9A7827;
$color-sec-a3: #865E00;
$color-sec-a4: #E6B33A;
$color-sec-a5: #E6C068;

$color-sec-b1: #CE1C00;
$color-sec-b2: #9A3627;
$color-sec-b3: #861200;
$color-sec-b4: #E6513A;
$color-sec-b5: #E67968;

$color-neutral1: #fcfff5;
$color-neutral2: #d1dbbd;
$color-neutral3: #91aa9d;
$color-neutral4: #3e606f;
$color-neutral5: #193441;

$button-height: 44px;
$fontsize: 17px;

@mixin image-diamonds($basecolor) {
    background-color: $basecolor;
    background-image: -webkit-repeating-linear-gradient(-30deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-repeating-linear-gradient(30deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 1px, transparent 1px, transparent 60px), -webkit-linear-gradient(30deg, rgba(255, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1)), -webkit-linear-gradient(-30deg, rgba(0, 0, 0, .1) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .1) 75%, rgba(0, 0, 0, .1));
    background-size:  70px 120px;
}

@mixin standard-button($bgcolor, $textcolor) {
    -webkit-appearance: none;
    width:              90%;
    height:             $button-height;
    font-size:          $fontsize;
    font-weight:        bold;
/* box-shadow: 0 3px 15px rgba(255,255,255, 0.6) inset; */
/* box-shadow: 0 -3px 6px rgba(0,0,0, 0.4) inset; */
    color:              $textcolor;
    border-radius:      8px;
    background-color:   $bgcolor;
    background-image:   -webkit-linear-gradient(top, lighten($bgcolor, 20%) 0%, $bgcolor 50%, $bgcolor 55%, transparent 55%, rgba(0, 0, 0, 0.4) 100%);
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing:          border-box;
}

body {
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-touch-callout:    none;
    /* prevent webkit from resizing text to fit */
    -webkit-text-size-adjust: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    -webkit-user-select:      none;
    background-color:         $color-dark;
    font-family:              'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:                17px;
    height:                   100%;
    margin:                   0;
    padding:                  0;
    width:                    100%;
}

/* Portrait layout (default) */
#question-box {
    position:           absolute;
    top:                60px;
    left:               0;
    width:              320px;
    height:             320px;
    padding:            0;
    padding-bottom:     15px;
    z-index:            100;
    font-size:          17px;
    background-color:   #ff9;
    border:             4px solid #fc3;
    border-radius:      6px;
    box-shadow:         2px 2px 6px rgba(0, 0, 0, 0.5);
    -webkit-transition: left 1s ease-in-out;
    -webkit-transform:  translateZ(0);

    ul {
        margin:     0;
        padding:    0;
        list-style: none;
        li {
            border:        1px solid #060;
            text-align:    center;
            padding:       13px;
            margin:        8px 15px;
            font-weight:   bold;
            display:       block;
            border-radius: 6px;
        }
    }
}

.question {
    background-color: #ffd;
    border:           1px solid #fc3;
    margin:           15px;
    padding:          8px;
    font-size:        17px;
    border-radius:    6px;
    box-shadow:       2px 2px 6px rgba(255, 128, 0, 0.5) inset;
}

.answer {
    background:         -webkit-linear-gradient(top, #2c8c3e 0%, #3dc54b 50%, #33b742 51%, #8adc90 100%);
    text-shadow:        -1px -1px rgba(0, 0, 0, 0.5);
    color:              #fefefe;
    -webkit-transition: color 0.2s ease-in-out;
}

.correct {
    background: #080;
}

.wrong {
    background: #800;
}

.answered {
    background: #888;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
}

/* Landscape layout (with min-width)
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  
        margin:-90px 0px 0px -198px;  
    }
}
*/

header {
    position: fixed;
}

.notransition {
    -webkit-transition: none !important;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/*
 * A class for common attributes for page cards
 */
.card {
    position:           absolute;
    height:             100%;
    -webkit-transform:  translateZ(0);
    -webkit-transition: left 0.3s ease-out;
}

.main-menu-normal {
    left: -1px;
}

.main-menu-side {
    left: 265px;
}

#main-menu {
    position:    absolute;
    top:         0;
    width:       321px;
    height:      100%;
    border-left: 1px solid #aaa;

    @include image-diamonds($color-pri-1);

    /* background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
     */
    box-shadow:  -2px 0 6px rgba(0, 0, 0, 0.33);
    z-index:     100;

    header {
        background-color: darken($color-pri-1, 10%);
        height:           44px;
        padding:          2px 50px 2px 0;
        width:            100%;
        border-bottom:    1px solid rgba(0, 0, 0, 0.6);
        /* box-shadow: 0px 2px 12px rgba(0,0,0,0.4); */
        z-index:          200;

        button {
            height:        32px;
            width:         44px;
            margin:        6px 5px;
            padding:       0 8px;
            float:         left;
            border-radius: 4px;
            border:        1px solid darken($color-pri-1, 20%);
            background:    -webkit-linear-gradient(
                               top,
                               rgba(255, 255, 255, 0.4) 0%,
                               rgba(255, 255, 255, 0.1) 49%,
                               rgba(  0,   0,   0, 0.1) 51%,
                               rgba(  0,   0,   0, 0.6) 100%
                           );

            .icon {
                height:            24px;
                width:             24px;
                position:          relative;
                top:               -1px;
                margin:            0;
                padding:           0;
                background-image:  url('../img/side_menu_48_black.png');
                background-size:   24px 24px;
                background-repeat: no-repeat;
            }

            &:active {
                background: -webkit-linear-gradient(top, rgba(191, 191, 191, 1) 0%, rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%, rgba(255, 255, 255, 1) 100%); /* Chrome10+,Safari5.1+ */
            }
        }
    }
}

.logo {
    position: absolute;
    top: 50px;
    height: 200px;
    width: 200px;
    z-index: 301;
    border: 1px solid #aaa;

    #foreground {
        position: absolute;
        top: 60px;
        border: 1px solid black;

        .besser {
            font-family: 'Oleo Script Swash Caps';
            font-size: 48px;
            -webkit-text-stroke: 2px white;
            text-shadow: 0 2px 6px black;
            color: $color-sec-b1;
            z-index: 303;
        }
        .quizzer {
            font-family: 'HelveticaNeue-UltraLight';
            font-size: 36px;
            text-shadow: 2px 2px 4px rgba(0,0,0, 1),
                             -2px 2px 4px black,
                             2px -2px 4px black, -2px -2px 4px black;
            color: white;
            &:first-letter {
                font-size: 48px;
            }
            z-index: 303;
        }
    }
    #background {
        z-index: 302;
        width: 100%;
        height: 100%;
        border: 1px solid green;
        span {
            position: absolute;
            display: block;
            font-size: 116px;
            color: rgba(255,255,255, 0.2);
            font-family: 'Oleo Script Swash Caps';
        }
        .b {
            left: 40px;
            border: 1px solid #ee82ee;
        }
        .q {
            top: 30px;
            left: 100px;
            border: 1px solid orange;
        }
    }

}

.configuration-normal {
    left:  -55px;
    width: 420px;
}

.configuration-side {
    left:  0;
    width: 320px;
}

#configuration {
    position:         absolute;
    top:              0;
    height:           100%;
    background-color: white;
    z-index:          90;
}

#configuration header {
    padding:          4px 12px;
    background-color: white;
}

/*
#main-menu header h1 {
    font-family: 'Oleo Script Swash Caps', cursive;
}
*/
h1 {
    font-size:   28px;
    font-weight: normal;
    margin:      0;
    overflow:    visible;
    padding:     0;
    text-align:  center;
}

.facebook-login {
    position: absolute;
    top:      0;
    left:     0;
    width:    100%;
    height:   100%;

    @include image-diamonds($color-pri-1);

    fieldset {
        text-align:   center;
        border-width: 1px 0 0 0;
        border-color: white;

        legend {
            margin:    0 12px 0 12px;
            color:     white;
            font-size: 17px;
        }
    }

    form {
        position: relative;
        top:      80px;

        input {
            width:              90%;
            font-size:          17px;
            height:             37px;
            -webkit-appearance: none;
        }
        input[type="email"] {
            margin:        0;
            border-width:  1px 1px 0 1px;
            border-color:  #ccc;
            border-style:  solid;
            border-radius: 8px 8px 0 0;
        }
        input[type="password"] {
            margin:        0;
            border-width:  1px 1px 1px 1px;
            border-color:  #ccc;
            boarder-style: solid;
            border-radius: 0 0 8px 8px;
        }
        input[type="submit"] {
            margin-top:  12px;
            text-shadow: 0 1px 1px white;
            @include standard-button($color-sand, #333);
        }
    }

    button {
        text-shadow:         0 -1px 1px rgba(0, 0, 0, 0.4);
        @include standard-button($color-beige, white);
        padding-left:        37px;
        background-image:    url("../res/icon/f_logo.png");
        background-repeat:   no-repeat;
        background-size:     37px 37px;
        background-position: -4px 0px;

    }
}
